:root {
  --clr-pink-200: #fde4f7;
  --clr-pink-400: #fc93cf;

  --clr-yellow-400: #f6e680;

  --clr-turquoise-300: #a3d2ca;
  --clr-turquoise-400: #5eaaa8;
  --clr-turquoise-800: #03a6a6;

  --clr-neutral-100: #ffffff;
  --clr-neutral-900: #000000;

  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "Rubik", sans-serif;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1 rem;
  background-color: black;
}

/*TITLE*/
h1 {
  color: #03a6a6;
  font-family: var(--ff-accent);
  font-size: 5rem;
  font-weight: 700;
  margin: 2rem 1rem;
  text-align: center;
}

.titleH2 {
  color: whitesmoke;
  font-family: var(--ff-primary);
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.titleH3 {
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.navbar {
  font-family: "Montserrat", sans-serif;
}

.welcomeImages {
  border-radius: 10px;
  box-shadow: #4a503d 5px 5px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-height: auto;
  max-width: 100%;
}

.services {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

/*SERVICES*/
h2 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  text-align: center;
}

ul {
  color: var(--clr-neutral-100);
  font-size: 1rem;
  line-height:
  list-style: none;
}

.servicesUL {
  margin-top: 3rem; 
}

.servicesGraphic {
  max-width: 100%;
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* for anything that has a sibling directly before it, so that the initial sibling isnt affected! */
  .split > * + * {
    margin-left: 2em;
  }
}
